.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link{
    color: #337ab7;
}

h2,h3{
    color: #f0ad4e;
}

.table{
    color:#337ab7; 
}

#certificado span{
    color:#EA2027;
    font-size: 30px;
    
}

#certificado span:hover{
    color: #f0ad4e;
}

#certificado .btn{
    background-color:#337ab7; 
}

#certificado .btn:hover{
    color: #f0ad4e;
}