.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link{
    color: #337ab7;
}

h2,h3{
    color: #f0ad4e;
}

#hora button{
    background-color: #337ab7;
    color: #f0ad4e;
    font-weight:bold;
    font-size: 20px;
}

#hora .card-header{
    background-color: #337ab7;
   
}

.table{
    color:#337ab7; 
}

