.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link{
    color: #337ab7;
}

h2,h3{
    color: #f0ad4e;
}

.modal-header{
    color: #f0ad4e;
}
.modal-body .table{
    color: #337ab7;
}

.btn{
    background-color: #337ab7;
    color: #fff; 
    margin-top: 5px;
}

.btn:hover {
  background-color:#f0ad4e;;
  color: #fff;
}

.close{
    color:#EA2027;
    font-size: 30px;
}

.close:hover{
    color: #f0ad4e;
}

.table{
    color: #269abc;
    
}

h1
{
	color:#f0ad4e;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}

.our-team-main h3
{
	font-size:18px;
	font-weight:700;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:center;
	background:#fff;
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
    
  
    
}

.fas .fa-book ,.fa-5x{
    color: #337ab7;
}


